@{
    Page.Title = "Title goes here";
    Layout = "_SiteLayoutH5.cshtml";
}

<div class="col-sm-10">
    <h6 class="display-4"><strong><u>New Design Registration</u></strong></h6>
    
    <from class="form-horizontal">
        <div class="row">
            <label for="DesignID" class="col-md-1 control-label">Design ID</label>
            <div class="col-md-2">
                <input type=text class="form-control" placeholder="will be displayed when you submit" />
            </div>
            <label for="CreationDate" class="col-md-2 control-label">Creation Date</label>
            <div class="col-md-2">
                <input type=text class="form-control" placeholder="system enters current date" />
            </div>
        </div>
        <div class="row">
            <label for="Customer" class="col-md-1 control-label">Customer</label>
            <div class="col-md-2">
                <input type=text class="form-control" placeholder="will be displayed when you submit" />
            </div>
            <label for="DueDate" class="col-md-2 control-label">Due Date</label>
            <div class="col-md-2">
                <input type=text class="form-control" placeholder="system enters current date" />
            </div>
        </div>

    </from>
    
</div>