@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";

}
@section Scripts {
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@
}

@*<h3>TO DO LIST</h3>

<ol class="round">
    <li class="one">
        <h5>7988 cost analysis due is passed</h5>
    </li>
    <li class="two">
        <h5>Review Samples</h5>
    </li>
    <li class="three">
        <h5>7398 sample due date is near</h5>
    </li>
</ol>*@