@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Error Page</title>
</head>
<body>
    Your login ID seems not registered in the system.<br />
    Please, close all open browser including this window and try it again with right one. <br />
    If you are not sure, please, contact web master. 
</body>
</html>