body { 
    width:1000px;
    margin-left:-40px auto;
    border-top: solid 0px #000;
    color: #333;
    font-size: 1.4em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    border-radius:10px;
    /*background-color:#efeeef;*/
        background-color:#eee;
} 

.container {
    width:100%;
    margin-left:-20px;
}
.clear {clear:both;}

.first-label {
    text-align:right;
    /*margin-left:20px;*/
}

.preview-img {
    padding:4px;
    margin:2px;
}

.page-title {
    font-weight:800;
    font-size:1.7em;
    text-decoration:underline;
    text-shadow:initial;
    text-emphasis:double-circle;
    padding-right:40px;   
}